.place__interesting {
  margin-bottom: 80px;
}

/* 768 */
@media screen and (max-width: 768px) {
  .place__interesting {
    margin-bottom: 73px;
  }
}

/* 320 */
@media screen and (max-width: 320px) {
  .place__interesting {
    margin-bottom: 50px;
  }
}

.place__interesting:last-child {
  margin-bottom: 0;
}