/* 1280 */
.intro {
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 2*148px);
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 2*48px);
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 2*24px);
  }
}

/* 540 */
@media screen and (max-width: 540px) {
  .intro {
    width: calc(100% - 2*20px);
  }
}

/* 420 */
@media screen and (max-width: 420px) {
  .intro {
    width: calc(100% - 2*16px);
  }
}